/*
    1. etiquetas
*/

body{
    background: black;
    font-family: arial;
}

h1, h2, p{
    color: white;

}

header{
    background: Silver;
    width: 100%;
}
header h1{
    color: black;
    text-align: center;
    font-size: 30px;
}
header nav ul li{
    list-style: none;
}

/*
    2. Ids
*/
section#fotos



/*
    3.clases
*/
